birdseye
click==7.0
flask
flask_restful
flask_cors
gunicorn
pycallgraph2
pyyaml
recommonmark
snoop
sphinx-autobuild
sphinx_bootstrap_theme
sphinxcontrib-mermaid
sphinx_rtd_theme
textx
z3-solver
git+https://github.com/sphinx-contrib/video.git
