click==7.0
flask
flask_restful
flask_cors
gunicorn
pretty_errors
pycallgraph2
pyyaml
recommonmark
sphinx-autobuild
sphinx_bootstrap_theme
sphinxcontrib-mermaid
sphinx_rtd_theme
textx==2.3
z3-solver
git+https://github.com/sphinx-contrib/video.git
