click==7.0
flask
flask_restful
flask_cors
gunicorn
pycallgraph2
pyyaml
recommonmark
textx
sphinx-autobuild
sphinx_bootstrap_theme
sphinx_rtd_theme
z3-solver
git+https://github.com/sphinx-contrib/video.git
