
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>

  <!-- htmx -->
  <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    htmx.onLoad(function(target) {
      // initialize tabs in materialize, if any
      target = document.querySelector('.tabs');
      if (target !== null) {
        M.Tabs.init(target, {});
      }
    });
  </script>

</head>
<body>
  <div id="screen">
    <ul class="collection">
      <li class="collection-item" hx-post="/htmx/file/open" hx-trigger="click" hx-target="#screen" hx-vals='{"File": "specification.idp"}'     >Covid</li>
      <li class="collection-item" hx-post="/htmx/file/open" hx-trigger="click" hx-target="#screen" hx-vals='{"File": "polygon.idp"}'           >Polygon</li>
      <li class="collection-item" hx-post="/htmx/file/open" hx-trigger="click" hx-target="#screen" hx-vals='{"File": "simple_registratie.idp"}'>Simple Registration</li>
      <li class="collection-item" hx-post="/htmx/file/open" hx-trigger="click" hx-target="#screen" hx-vals='{"File": "registratie.idp"}'       >Registration</li>
    </ul>
  </div>
</body>
</html>